.hero {
  padding-inline: 35px;
  display: flex;
  flex-direction: column;
}

.hero__img {
  max-width: 450px;
  align-self: center;
}

.hero__title {
  font-size: 2.5rem;
  margin: 1.5rem 0 0.8rem 0;
}

.hero__text {
  max-width: 420px;
}
