.nav {
  padding: 20px 36px;
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.1);
  display: flex; /* so that the logo stays confined within the navbar no matter the height of the navbar. can also be done with giving the img a deault height and a max-height of 100% so that it didn't overflow */
  height: 70px;
}

.nav__logo-img {
  max-width: 100px;
}
